@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css or styles/globals.scss */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}


@media (min-width: 640px) {
    .sm\:flex{
      display: flex;
    }

    .sm\:hidden{
        display: none;
    } 
    
  }
